body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  padding: 5%;
  margin: 0%;
  background-color: black;
  color: white;
}

.lighttheme { 
  background-color: white ;
  color: black ;
}
.night {
  background: linear-gradient(
    45deg,
    rgb(0, 0, 0),
    #000351,
    #0300c4,
    #cac9c9,
    rgb(184, 184, 184)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 75vh;
  color: rgb(240, 245, 255);
  padding-top: 20px;
  margin-top: 0px;
  border-radius: 30px;
}
.evening {
  background: linear-gradient(
    45deg,
    rgb(255, 40, 40),
    #e68938,
    #ffce72,
    #fff6a3,
    rgb(200, 199, 199)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 75vh;
  padding-top: 20px;
  margin-top: 0px;
  border-radius: 30px;
}
.afternoon {
  background: linear-gradient(
    -45deg,
    rgb(27, 31, 255),
    #139fe0,
    #72deff,
    #9dd8f2,
    rgb(255, 255, 255)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 75vh;
  padding-top: 20px;
  margin-top: 0px;
  border-radius: 30px;
}
.morning {
  background: linear-gradient(
    -45deg,
    rgb(255, 40, 40),
    #dd802f,
    #ffce72,
    #fff8be,
    rgb(255, 255, 255)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 75vh;
  padding-top: 20px;
  margin-top: 0px;
  border-radius: 30px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.search-container {
  position: relative;
  width: 85%;
  max-width: 100vw;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.search-input {
  width: 4%;
  padding: 12px 48px 12px 16px; /* space for the icon */
  font-size: 1.2rem;
  right: 0%;
  border: 1px solid #ccc;
  border-radius: 999px; /* pill shape */
  box-sizing: border-box;
  transition: width 2s;
  box-shadow: -2px 5px rgba(0, 0, 0, 0.113);
  cursor: pointer;
}
.search-input:focus {
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor:text;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  margin-right: 13px;
  /*   display: none; */
}
.logo {
  width: 50px;
}
img {
  width: 12rem;
  overflow: hidden;
}
#weatherrepo {
  text-align: center;
  overflow: hidden;
}
#weatherrepo h4 {
  padding: 0%;
  margin-top: 0%;
  text-decoration: underline;
  overflow: hidden;
}

.otherinfo {
  max-width: 100vw;
  margin-top: 40px;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.289);
}

#theme{
  font-size: 1.7rem;
  padding: 15px 16.5px;
  text-align: center;
  border-radius:100%;
}